
<div class="contenedor">
<div class="row">
    <div class="col-sm-4">
      <div class="card"  >
        <div class="card-body ">
            <h5 style="text-align: center;">Formulario del Libro</h5><br>
          <form ngNativeValidate  (ngSubmit)="crearlibros(libros)">

            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label">ID</label>
              <div class="col-sm-9">
                <input type="number" [(ngModel)] = "libros.id" class="form-control" #id [ngModelOptions]="{standalone: true}"  placeholder="Aparecera solo cuando edite"  disabled>
              </div><br>
          </div>
            
            <hr>
            <div *ngIf="!validaredit" class="form-group row">
              <label style="text-align: center;" for="fileInputimg" class="custom-file-upload">
                <i class="fas fa-image"></i> Seleccionar Imagen
              </label>
              <input id="fileInputimg" type="file"  accept="image/*" #imagen name="sub"   (change)="capturarImagen($event)" >
              <div *ngIf="fileContentimg">
                <h4>{{ fileNameimg }}</h4>
              </div>
            </div><hr>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Título</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)] = "libros.titulo" value="{{libros.titulo}}" class="form-control" #titulo [ngModelOptions]="{standalone: true}"  placeholder="Escribe el título del libro" required>
                </div><br><br><br>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Autor</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)] = "libros.autor" value="{{libros.autor}}" class="form-control" [ngModelOptions]="{standalone: true}"  #autor placeholder="Escribe el autor del libro" required>
                </div><br><br><br>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Editorial</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)] = "libros.editorial" value="{{libros.editorial}}" class="form-control" [ngModelOptions]="{standalone: true}"  #editorial placeholder="Escribe la editorial al que pertenece" required>
                </div><br><br><br>
              </div>

              <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Descripcion</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)] = "libros.descripcion" value="{{libros.descripcion}}" class="form-control" [ngModelOptions]="{standalone: true}"  #descripcion placeholder="Escriba una descripcion corta" required>
                </div><br><br><br>
              </div>

              <div *ngIf="!validaredit" class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Fecha de creacion</label>
                <div class="col-sm-9">
                  <input type="datetime-local" [(ngModel)] = "libros.fechacreacion" [ngModelOptions]="{standalone: true}"  class="form-control" #fecha  required>
                </div>
              </div>
            <hr>  
            <div *ngIf="!validaredit" class="form-group row">
              <label style="text-align: center;" for="fileInput" class="custom-file-upload" aria-required="true">
                <i class="fas fa-file-pdf"></i> Seleccionar PDF
              </label>
              <input id="fileInput" type="file"  #pdf (change)="onFileSelected($event)" title="Seleccione un archivo" >
              <div *ngIf="fileContent">
                <h4>{{ fileName }}</h4>
              </div>
              
            </div><hr>


              <div *ngIf="!validaredit" class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Categoria</label>
                <div class="col-sm-9">
                    <select  class="form-control"  style="width: 200px; height: 40px;  border-radius: 5px; border-color:darkgray;" #categoriaSelec id="inputGroupSelect01" required>
                        <option disabled selected hidden>Elija una opción</option>
                        <option value="fantasia">Fantasía</option>
                        <option value="suspenso">Suspenso</option>
                        <option value="historico" >Hístorico</option>
                        <option value="drama"  >Drama</option>
                        <option value="terror"  >Terror</option>
                        <option value="accion"  >Accion</option>
                      </select>
                </div><br><br><br>
              </div>
              
                <div class="form-group row">
                  <label for="staticEmail"  class="col-sm-3 col-form-label">Precio $</label>
                  <div class="col-sm-7">
                    <input type="number" #precio class="form-control" [(ngModel)] = "libros.precio" value="{{libros.precio}}" [ngModelOptions]="{standalone: true}"  placeholder="Precio del libro" required>
                  </div><br><br><br>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Stock</label>
                  <div class="col-sm-7">
                    <input type="number"  #stock  class="form-control" [(ngModel)] = "libros.stock" value="{{libros.stock}}" [ngModelOptions]="{standalone: true}"  placeholder="Libros disponibles" required>
                  </div><br><br><br>
                </div>

                <button *ngIf="!validaredit" type="submit" id="guardar" class="boton btn-primary ">Crear</button>
          </form>
          <button *ngIf="validaredit" (click)="editarlibro(id.value,libros)" type="button" id="editar" class="boton btn-primary ">Editar</button><hr>
          <button *ngIf="validaredit"  class="btn btn-outline-danger" (click)="eliminar(id.value)"
                  ><i class="far fa-trash-alt"></i> Eliminar </button>
          
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;" >Tabla de Libros</h5><br>
          <form class="d-flex buscar" role="search">
            <input class="form-control me-1" (keyup)="onKeydownEvent($event, buscarlibro.value)" #buscarlibro type="search"  placeholder="Buscar" aria-label="Buscar"
              style=" border-color: #F1D9CE; height:40px;" />
            <button class="btn" (click)="buscarLibxNomb(buscarlibro.value)" type="submit">
              <img src="https://cdn-icons-png.flaticon.com/512/3686/3686871.png" style="width: 40px; height: 40px;">
            </button>
          </form>
          <table class="table" style="border-color: black; border: 2px;" *ngIf=bus>
            <thead>
              <tr style="text-align: center;">
                <th style="background-color: #F1D9CE;" scope="col">Portada</th>
                <th style="background-color: #F1D9CE;" scope="col">#</th>
                
                <th style="background-color: #F1D9CE;" scope="col">Titulo</th>
                <th style="background-color: #F1D9CE;" scope="col">Autor</th>
                <th style="background-color: #F1D9CE;" scope="col">Editorial</th>
                <th style="background-color: #F1D9CE;" scope="col">Descripcion</th>
                <th style="background-color: #F1D9CE;" scope="col">Categoria</th>
                <th style="background-color: #F1D9CE;" scope="col">Creacion</th>
                <th style="background-color: #F1D9CE;" scope="col">Precio</th>
                <th style="background-color: #F1D9CE;" scope="col">Stock</th>
                <th style="background-color: #F1D9CE;" scope="col">Pdf</th>
                <th style="background-color: #F1D9CE;" scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody class="text-center" >
              <tr *ngFor="let libro of libros1">

                
                <td>
                  <a href="{{libro.imagenget}}" width=80 height=80>
                    <img  src="{{libro.imagenget}}" alt="No encontrada" width=80 height=80/>
                  </a>
                </td>
                <td>{{ libro.id }}</td>
                
                <td >{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.editorial }}</td>
                <td>{{ libro.descripcion }}</td>
                <td>{{ libro.categoria }}</td>
                <td>{{ libro.fechacreacion| date:'shortDate' }}</td>
                <td>{{ libro.precio }}$</td>
                <td>{{ libro.stock }}</td>
                <td>
                  <a href="{{libro.imagenURL}}">
                    <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" width=40 height=40 >
                  </a>
                </td>
                <td>
                  <button class=" btn btn-outline-primary" 
                  style="font-size: small;" (click)="editar(libro)"><i class="far fa-edit"></i></button><br>
                  
                </td>
              </tr>
            </tbody>
          </table>  
            <table class="table" style="border-color: black; border: 2px;" *ngIf=buscarval>
              <thead>
                <tr style="text-align: center;">
                  <th style="background-color: #F1D9CE;" scope="col">Imagen</th>
                  <th style="background-color: #F1D9CE;" scope="col">#</th>

                  <th style="background-color: #F1D9CE;" scope="col">Titulo</th>
                  <th style="background-color: #F1D9CE;" scope="col">Autor</th>
                  <th style="background-color: #F1D9CE;" scope="col">Editorial</th>
                  <th style="background-color: #F1D9CE;" scope="col">Categoria</th>
                  <th style="background-color: #F1D9CE;" scope="col">Precio</th>
                  <th style="background-color: #F1D9CE;" scope="col">Stock</th>
                  <th style="background-color: #F1D9CE;" scope="col">Pdf</th>
                  <th style="background-color: #F1D9CE;" scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let lib of libs">
                  <td><img src="{{lib.imagenget}}" alt="No encontrada" width=80 height=80/></td>
                  <td>{{ lib.id }}</td>

                  <td>{{ lib.titulo }}</td>
                  <td>{{ lib.autor }}</td>
                  <td>{{ lib.editorial }}</td>
                  <td>{{ lib.categoria }}</td>
                  <td>{{ lib.precio }}</td>
                  <td>{{ lib.stock }}</td>
                  <td>
                    <a href="{{lib.imagenURL}}">
                      <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" width=40 height=40 >
                    </a>
                  </td>
                  <td>
                    <button class=" btn btn-outline-primary mx-2 " style="font-size: small;" (click)="editar(lib)"><i class="far fa-edit"></i></button><br>
                    <button class="btn btn-outline-danger " style="font-size: small;"><i class="far fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
