<div class="contenedor" style="margin-left: 2cm; margin-right: 2cm;">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 style="text-align: center;">Factura</h1><br>
    </div>
  </div>
  <div id="htmlData">

    <div class="row">
      <div class="col-md-6" >
        <p><strong>Número de factura:</strong> {{details.numeroFactura}}</p>
        <!-- <p><strong>Titulo del libro:</strong>  <ng-container *ngFor="let openn of libros1">
          <ng-container *ngIf="openn.titulo==compra2.titulo">
            {{ openn.titulo}}
        </ng-container></ng-container> -->
      </div>

      <div class="col-md-6 text-right">
        <p><strong>Fecha:</strong>
          <ng-container >
            {{ compra2.fecha_compra | date:'shortDate'  }}
          </ng-container>
          
        <p><strong>Método de pago:</strong>
          <ng-container *ngFor="let openn of comprass">
            {{ openn.metodo_pago }}
          </ng-container>
        </p>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Nombre del cliente:</strong><ng-container >
            {{ user2.nombre }}
          </ng-container></p>
          <p><strong>Dirección del cliente:</strong> {{user2.direccion }}</p>
          
        </div>
        <div class="col-md-6 text-right">
          <p><strong>Email del cliente:</strong> {{user2.email}}</p>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <h4>Valor a Cancelar</h4>
          <div>
            <ul>
              <li><strong>Cantidad:</strong>
                <ng-container *ngFor="let compra of comprass">
                  {{ compra.total }}
                </ng-container>
              </li>
              <li><strong>Precio:</strong>
                <ng-container *ngFor="let libro of libros1">
                  {{ libro.precio | currency}}
                </ng-container>
              </li>
              <li><strong>Total:</strong>
                <ng-container *ngIf="comprass.length > 0 && libros1.length > 0">
                  {{ calcularTotal() | currency}}
                </ng-container>
              </li>
            </ul>
          </div>
          
        </div>
      </div>

      <hr>
      <div class="row justify-content-end">
        <div class="col-md-3">
          <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-outline-danger" routerLink="/app-form-compra"><i class="far fa-edit"></i>
              New</button>
              <button class="btn btn-outline-danger" (click)="imprimir()">Imprimir</button>

          </div>
        </div>
      </div>
    </div>
</div>