<div class="contenedor" style="margin-left: 2cm; margin-right: 2cm;">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 style="text-align: center;">Factura</h1><br>
    </div>
  </div>
  <div id="htmlData">

    <div class="row">
      <div class="col-md-6">
        <p><strong>Número de factura:</strong> {{details.numeroFactura}}</p>
        <p><strong>Titulo del libro:</strong> <ng-container >
          {{ libro2.titulo}}
        </ng-container></p>
      </div>
      <div class="col-md-6 text-right">
        <p><strong>Fecha:</strong>
          <ng-container *ngFor="let openn of comprass">
            {{ openn.fecha_compra | date:'shortDate'  }}
          </ng-container>
          
        <p><strong>Método de pago:</strong>
          <ng-container *ngFor="let openn of comprass">
            {{ openn.metodo_pago }}
          </ng-container>
        </p>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Nombre del cliente:</strong><ng-container >
            {{ user2.nombre }}
          </ng-container></p>
          <p><strong>Dirección del cliente:</strong> {{user2.direccion }}</p>
          
        </div>
        <div class="col-md-6 text-right">
          <p><strong>Email del cliente:</strong> {{user2.email}}</p>

        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <h4>Valor a Cancelar</h4>
          <ul>
            <p><strong>Cantidad:</strong><ng-container *ngFor="let openned2 of comprass">
              {{ openned2.total }}
            </ng-container></p>
<!--             <p><strong>Precio:</strong><ng-container *ngFor="let openn of libross">
              {{ openn.precio }}
            </ng-container></p> -->
<!--             <p><strong>Total:</strong> {{totales | currency }}</p> -->
          </ul>
        </div>
      </div>

      <hr>
      <div class="row justify-content-end">
        <div class="col-md-3">
          <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-outline-danger" routerLink="/app-form-compra"><i class="far fa-edit"></i>
              New</button>
            <button class="btn btn-outline-danger">Download PDF</button>
          </div>
        </div>
      </div>
    </div>
</div>