<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2></h2>
    </div>
  </div>
  <div id="htmlData">

    <div class="row">
      <div class="col-md-6">
        <p><strong>Número de factura:</strong> {{details.numeroFactura}}</p>
        <p><strong>Nombre del libro:</strong> </p>
      </div>
      <div class="col-md-6 text-right">
        <p><strong>Fecha:</strong> {{details.fechafactura}}</p>
        <p><strong>Método de pago:</strong> {{compra.metodo_pago}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Nombre del cliente:</strong> {{client.nombre}}</p>
        <p><strong>Dirección del cliente:</strong> {{client.direccion}}</p>
        <p><strong>Email del cliente:</strong> {{client.email}}</p>
      </div>
      <div class="col-md-6 text-right">
        <p><strong>Cantidad:</strong> {{compra.total}}</p>
        <p><strong>Precio:</strong> {{details.precioCliente}}</p>
        <p><strong>Total:</strong> {{details.pxq}}</p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre del cliente</th>
              <th scope="col">Dirección del cliente</th>
              <th scope="col">Email del cliente</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detailsItem">
              <th scope="row">{{detailsItem.Nombre}}</th>
              <td>{{detailsItem.direccion}}</td>
              <td>{{detailsItem.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <hr>
  <div class="row justify-content-end">
    <div class="col-md-3">
      <div class="btn-group btn-group-sm" role="group">
        <button class="btn btn-outline-danger" routerLink="/app-form-compra"><i class="far fa-edit"></i> Factura</button>
        <button class="btn btn-outline-danger" >Download PDF</button>
      </div>
    </div>
  </div>
</div>
