<div class="elemento">
  <div class="contenedor">
    <div class="card" style="text-align:center; width: 48rem; background-color: #F6D4C4;">
      <div class="card-body" style="margin-left: 5%; margin-right: 5%;">
        <h5 class="card-title" style="text-align: center;">
          <h1>Pago</h1>
        </h5>
        <p class="card-title" style="text-align: center; color:gray;">¿Como deceas realizar tu compra?</p><br>
        <form>

          <div class="form-group row">
            <label for="payment-type" style="text-align: left;">Tipo de pago:</label>
            <select id="payment-type" class="form-control" style="width: 500px;" required>
              <option *ngFor="let openn of comprass">{{ openn.metodo_pago }}</option>
            </select>
          </div>

          
          <div class="form-group row">
            <label for="card-number" style="text-align: left;">Nombre:</label><br>
            <input type="text" style="position: fixed; margin-left:160px;  height: 40px; width: 500px;" id="card-number"
              class="form-control"  required><br><br><br>
          </div>
          
          <div class = "container text-center">
            <button type="button" class="boton btn" style="margin-right: 50px; background-color:#BE6134; font-size: small; color: white;"
            (click)="good()"><strong>Realizar pago</strong></button>
          </div>
        </form><br>

      </div>
    </div>
  </div>
</div>