
<div class="contenedor">
  <div class="card" style="text-align:center; width: 40rem; background-color: #F6D4C4;">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Bienvenido</h5>
        <p class="card-title" style="text-align: center;">Aquí puedes registrarte</p><br>
        <form ngNativeValidate (ngSubmit) = "formSubmit(contra1.value, contra2.value)">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
            <div class="col-sm-10">
              <input type="text " [(ngModel)] = "user.username" #nombre class="form-control"  pattern="[a-zA-Z ]*" name="nombre" placeholder="Escribe tu usuario"  required>
            </div><br><br><br>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nombres</label>
            <div class="col-sm-10">
              <input type="text " [(ngModel)] = "user.nombre" #nombre class="form-control"  pattern="[a-zA-Z ]*" name="nombre" placeholder="Escribe tu nombre"  required>
            </div><br><br><br>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos</label>
            <div class="col-sm-10">
              <input type="text"   [(ngModel)] = "user.apellido" class="form-control"  name="direccion" placeholder="Escribe tus apellidos" required>
            </div><br><br><br>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-10">
              <input type="text"   class="form-control" [(ngModel)] = "user.direccion" name="direccion" placeholder="Escribe tu dirección" required>
            </div><br><br><br>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
              <input type="number"   class="form-control"  [(ngModel)] = "user.telefono" name="direccion" placeholder="Escribe tu telefono" required>
            </div><br><br><br>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email"  class="form-control"   [(ngModel)] = "user.email" name="email" placeholder="Escribe tu correo" required>
            </div><br><br><br>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" #contra1 id="contra1"  [(ngModel)] = "user.password" name="clave" placeholder="Ingresa tu contraseña" required>
            </div>
          </div><br>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Confirmar contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" #contra2 id="contra2" placeholder="Escribe nuevamente tu contraseña" required>
            </div>
          </div>
          <button type="submit" class="boton btn " style="background-color:#BE6134; font-size: small;">Registrarse</button>
        </form><br>
        
      </div>
    </div>
</div>