<div class="contenedor">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width:300px;" >
      <div >
        <div class="card-body" style="height: 500px; overflow: auto;">
          <h5 class="card-title" style="text-align: center;" >Carrito de Compras</h5><br>
          <form class="d-flex buscar" role="search">
          </form>
          <table class="table" style="background-color: #F1D9CE; border-color: black; border: 2px;" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Articulo</th>
                <th scope="col">Costo</th>
              </tr>
            </thead>
            <tbody *ngFor="let titulo of titulos">
              <tr *ngFor="let precio of precios">
                <td>{{titulo}}</td>
                <td>{{precio}}</td>
              </tr>

            
            </tbody>
          </table>
          Total:
          <label>{{total}}</label>
          <br><br>
          <button type="submit" (click)="guardar()" class="boton btn " [routerLink]="'/app-form-compra'" style="background-color:#BE6134; font-size: small;">Realizar
            Pago</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="boton btn " (click)="cancelar()" style="background-color:#F1D9CE; font-size: small;">Cancelar</button>
        </div>
      </div>
      </div>
    </div>  
  </div>
</div>

