<div class="contenedor" style="margin: 1cm;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title" style="text-align: center;" >Pedidos</h1><br>
                <form class="d-flex buscar" role="search">
                  <input class="form-control me-1" type="search" placeholder="Buscar" aria-label="Buscar"
                  (keyup)="onKeydownEvent($event, buscarpedido.value)" #buscarpedido style=" border-color: #F1D9CE; height:40px;" />
                  <button class="btn" type="submit" (click)="buscarLibxNomb(buscarpedido.value)">
                    <img src="https://cdn-icons-png.flaticon.com/512/3686/3686871.png" style="width: 40px; height: 40px;">
                  </button>
                </form>
                <table  class="table" style=" border-color: black; border: 2px;" >
                  <thead>
                    <tr style="background-color: #F1D9CE;">
                      <th scope="col">#</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Articulos</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody *ngIf=bus>
                    <tr *ngFor="let pedido of pedido1">
                      <td>{{ pedido.id }}</td>
                      <td>{{pedido.nombre}}</td>
                      <td>{{pedido.id_libro}}/td>
                      <td>{{pedido.fecha_pedido}}</td>
                      <td>{{pedido.estado}}</td>
                      <td>{{pedido.total}}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf=buscarval>
                    <tr *ngFor="let pedido of pedidobus">
                      <td>{{ pedido.id }}</td>
                      <td>{{pedido.nombre}}</td>
                      <td>{{pedido.id_libro}}/td>
                      <td>{{pedido.fecha_pedido}}</td>
                      <td>{{pedido.estado}}</td>
                      <td>{{pedido.total}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title" style="text-align: center;" >Compras</h1><br>
                <form class="d-flex buscar" role="search">
<!--                   <input class="form-control me-1" type="search" placeholder="Buscar" aria-label="Buscar"
                    style=" border-color: #F1D9CE; height:40px;" />
                  <button class="btn" type="submit"> -->
                    <input class="form-control me-1" type="search" placeholder="Buscar" aria-label="Buscar"
                    (keyup)="onKeydownEvent($event, buscarcompra.value)" #buscarcompra style=" border-color: #F1D9CE; height:40px;" />
                    <button class="btn" type="submit" (click)="buscarComxNomb(buscarcompra.value)">
                    <img src="https://cdn-icons-png.flaticon.com/512/3686/3686871.png" style="width: 40px; height: 40px;">
                  </button>
                </form>
                <table  class="table" style=" border-color: black; border: 2px;" >
                  <thead>
                    <tr style="background-color: #F1D9CE;">
                      <th scope="col">#</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Metodo de Pago</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody *ngIf=bus>
                    <tr *ngFor="let pedido of compra1">
                      <td>{{pedido.id }}</td>
                      <td>{{pedido.nombre}}</td>
                      <td>{{pedido.direccion}}/td>
                      <td>{{pedido.fecha_compra}}</td>
                      <td>{{pedido.estado}}</td>
                      <td>{{pedido.total}}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf=buscarval>
                    <tr *ngFor="let pedido of pedidobus2">
                      <td>{{ pedido.id }}</td>
                      <td>{{pedido.nombre}}</td>
                      <td>{{pedido.direccion}}/td>
                      <td>{{pedido.fecha_compra}}</td>
                      <td>{{pedido.estado}}</td>
                      <td>{{pedido.total}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

    </div>
</div>
